@charset "UTF-8";

body {
    font-weight: 300;
    font-family: "Source Serif Pro", sans-serif;
}

::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

:hover {
    transition: all ease 0.4s;
}

header {
    min-height: 100vh;
    background: white url("img/bg.jpg") center 20px no-repeat;
    background-size: 100vw auto;
}

#abstract {
    padding-top: 45vh;
}

@media (min-width: 768px) {
    header {
        background: white url("img/bg.jpg") right 0 no-repeat;
        background-size: 47vw auto;
    }

    #abstract {
        padding-top: 0;
        height: 60vh;
    }

    #partes {
        height: 40vh;
    }
}

h1,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
}

h2 {
    font-weight: 200;
    color: #9a71ee;
}

h2.alt {
    color: #d22b4b;
}

h3 {
    font-family: "Source Sans Pro", serif;
    color: #888;
}

h4 + p {
    font-weight: 700;
}

aside {
    background: #e9e9e9;
}

aside h2 {
    text-align: center;
}

.btn {
    font-family: "Source Sans Pro", serif;
    font-weight: 600;
}

.btn-outline-danger {
    color: #9a71ee;
    border-color: #9a71ee;
}

.btn-outline-danger:hover {
    color: #fff;
    background: #9a71ee;
    border-color: #9a71ee;
}

strong a{
    color: #9a71ee;    
}

footer a{
    color:silver;
}

footer a:hover{
    color:white;
}