body {
	font-weight: 300;
	font-family: 'Source Serif Pro', sans-serif;
}

::-webkit-scrollbar { width: 1vh; }

::-webkit-scrollbar-thumb { background-color: #ccc; }

:hover { transition: all ease 0.4s; }

header{
	min-height: 100vh;
	background:white url('img/bg.jpg') top center no-repeat;
	background-size:100% auto;
}


#abstract{
	padding-top:55vh;
}

@media (min-width: 768px) { 

header{
	background:white url('img/bg.jpg') top right no-repeat;
	background-size:auto 97%;
}

#abstract{
	padding-top:0;
	height:60vh;
}

#partes{
	height:40vh;
}

}




h1, h3, h4, h5, h6{
	font-weight: 600;
}
h2{
	font-weight: 200;
	color:#D22B4B;
}

h2.alt{
	color:#9A71EE;
}

h3{
	font-family: 'Source Sans Pro', serif;
	color:#888;
}


h4+p{
	font-weight: 700;
}

aside{
	background:#E9E9E9;
}

aside h2{
	text-align: center;
}

.btn{
		font-family: 'Source Sans Pro', serif;
		font-weight: 600;

}

.btn-outline-danger{
	color:#9A71EE;
	border-color:#9A71EE;
}

.btn-outline-danger:hover{
	color:#fff;
	background:#9A71EE;
	border-color:#9A71EE;
}